body{
    font-family: Arial, Helvetica, sans-serif;
}
head{
    background-color: springgreen;
    padding: 8px;
    text-align: center;
}
nav ul li{
    display: inline;
    margin-right: 8px;
}
nav ol li{text-decoration: aqua;
color: blue;
}
main{
    padding: 20px;
}
table{
    width: 90%;
 border-collapse: collapse;
}
table, th, td{
    border: 1px solid #ddd ;
    padding: ppx;
    text-align: left;
}
img {
    nav: width 50px;
    height: 90pc;
}
video{
    width: 100%;
    max-height: 300px;
}